<?xml version = "1.0" encoding = "UTF-8"?>

<!-- custom bean factory post processor property placeholder configurer -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="triangle" class="com.walmart.tutorials.Triangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>

	<bean id="circle" class="com.walmart.tutorials.Circle">
		<property name="center" ref="pointA"></property>
	</bean>
	
	<bean id="pointA" class="com.walmart.tutorials.Point">
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>

	<bean id="pointB" class="com.walmart.tutorials.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointC" class="com.walmart.tutorials.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>

	<bean class="com.walmart.tutorials.MyBeanFactoryPostProcessor"></bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties" />
	</bean>
</beans>